table, th, td {
    border: 1px solid #ccc;
    border-collapse: collapse;
  }

thead a {
  display: inline-block;
  margin-left: 1em;
  cursor: pointer;
}

thead a::after {
  content: '↕️';
}

thead a.ascending::after {
  content: '🔽';
}

thead a.descending::after {
  content: '🔼';
}
.table-wrapper {
    width: 100%;
    table-layout: fixed;
    overflow-wrap: break-word;
}